::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #323232;
  border: 1px none #000000;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #505050;
}
::-webkit-scrollbar-thumb:active {
  background: #505050;
}
::-webkit-scrollbar-track {
  background: #222222;
  border: 0px none #222222;
  border-radius: 8px;
}
::-webkit-scrollbar-track:hover {
  background: #2a2a2a;
}
::-webkit-scrollbar-track:active {
  background: #2a2a2a;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

html, body {
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#editor {
	margin: 0;
	position: absolute;
	top: 25px;
	bottom: 0;
	left: 0;
	right: 0;
}
pre {
	border-radius: 0;
	margin: 0;
	padding: 0;
	border: none;
}

#alertBox {
	position: absolute;
	top: 2%;
	right: 2%;
	width: 25%;
	min-height: 5%;
	z-index: 2000;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

.btn {
	padding: 0px 12px;
}
.app-bar {
	background: #444;
	color: #aaa;
	padding: 1px 5px;
	height: 25px;
}

.app-bar * {
	float: left;
	margin-right: 5px;
}

.app-bar .btn {
	background: #555;
	color: #eee;
}
.app-bar .tool {
	padding: 0px 5px;
	margin: 0;
    border-right: solid 1px #666;
	line-height: 25px;
}

select option {
    background-color: #444;
    color: #aaa;
    border: none;
}
select {
	height: 22px;
    background-color: transparent;
    color: #aaa;
    border: none;
}

label {
	font-weight: normal;
}

label input[type=checkbox] {
	margin: 6px 6px 0px 0px;
}

#editor button,
#editor input,
#editor select,
#editor select option {
	color: #222;
}
